<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>Gallery</title>
   <link rel = "stylesheet" type="text/css" href="style.css"/>
 </head>
 <body>
   <nav>
     <ul>
       <li> <a href ="/">Gallery Logo</a></li>
       <li> <a href ="/about_us">About us</a></li>
       <li> <a href ="/artists">Artists</a></li>
       <li> <a href ="/exhibitions">Exhibitions</a></li>
       <li> <a href ="/manager_login">Manager Login</a></li>
     </ul>
   </nav>
  <%= yield %>
 </body>
</html>
<!DOCTYPE html>
