<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>Gallery</title>
   <link rel = "stylesheet" type="text/css" href="style.css"/>
 </head>
 <body>
   <h1>Manager View</h1>
   <nav>
     <ul>
       <li> <a href ="/manager">Gallery Logo</a></li>
       <li> <a href ="/about_us_manager">About us</a></li>
       <li> <a href ="/artists_manager">Artists</a></li>
       <li> <a href ="/exhibitions_manager">Exhibitions</a></li>
       <li> <a href="/">Non-staff Site</a></li>
     </ul>
   </nav>
  <%= yield %>
 </body>
</html>
<!DOCTYPE html>
