<form action="/artists_manager" method="POST">


  <label for = "name">Name:</label>
  <input id = "name" type = "text" name = "name" />

  <label for = "year_of_birth">Year of birth:</label>
  <input id = "year_of_birth" type = "number" name = "year_of_birth"/>

  <label for = "year_of_death">Year of death:</label>
  <input id = "year_of_death" type = "number" name = "year_of_death"/>

  <label for = "biography">Biography:</label>
  <input id = "biograpy" type = "text" name = "biography"/>

  <input class="btn btn--action" type="submit" value="Add new artist"/>

</form>
